Source/Client/McSynchronizationOutlookAddin/ClientOutlook/Configuration/syncAppSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="syncAppSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metaDataFileName" type="xs:string" />
        <xs:element name="ibnPortalLogin" type="xs:string" />
        <xs:element name="ibnPortalPassword" type="xs:string" />
        <xs:element name="ibnPortalUrl" type="xs:string" />
        <xs:element name="useWindowsAuthentification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>