Source/Client/McSynchronizationOutlookAddin/ClientOutlook/Configuration/syncProviderSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="syncProviderSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="localFolder" type="xs:string" />
        <xs:element name="syncDirection" type="xs:int" />
        <xs:element name="syncConflictResolution" type="xs:int" />
        <xs:element name="remoteFolder" type="xs:string" />
        <xs:element name="recursive" type="xs:boolean" />
        <xs:element name="replicaId" type="xs:string" />
		<xs:element name="replicaStoreFileName" type="xs:string" />
		<xs:element name="lastSyncDate" type="xs:long" />
		<xs:element name="lastSyncStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>